body {
    background-color: #e5e5e5;
    color: #25282B;
    text-align: center;
}

p {
    text-align: right;
}

button {
    color: #ff5E84;
    background: none;
    border: none;
    font-weight: bold;
}

#see-ideas {
    color: #fff;
    background: #ff5E84;
}

#footer a {
    text-decoration: none;
    color: #25282B;
}

.hide {
    display: none;
}